:root {
  --primary-blue: #2563eb;
  --border-color: #d1d5db;
  --text-muted: #6b7280;
}

/* PAGE */
.exit-page {
  padding: 24px;
  background: #ffffff;
}

/* TABLE */
.exit-table-card {
  background: #fff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
}
.blue{
    color: #0f4c81;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  color: var(--primary-blue);
  text-align: left;
}

tbody td {
  padding: 14px 0;
  border-top: 1px solid var(--border-color);
}

.emp-id {
  font-size: 12px;
  color: #9ca3af;
}

/* BADGES */
.badge {
  padding: 4px 14px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.badge.pending {
  background: #e5e7eb;
}

.badge.success {
  background: #22c55e;
  color: white;
}

/* VIEW BUTTON */
.view {
  background: #e5e7eb;
  border: none;
  padding: 6px 14px;
  border-radius: 8px;
}

/* BACKDROP */
.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* MODAL */
.modal-container {
  background: #ffffff;
  width: 460px;
  padding: 28px;
  border-radius: 16px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 18px;
}

.modal-title {
  font-size: 22px;
  margin-bottom: 6px;
}

.modal-subtitle {
  color: var(--text-muted);
  margin-bottom: 20px;
}

/* FORM */
.form-row {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 14px;
}

.form-row label {
  font-size: 13px;
  font-weight: 500;
}

.form-row input {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  font-size: 14px;
}

/* SECTION */
.section-title {
  margin: 18px 0 10px;
}

/* ASSET INPUT STYLE */
.form-input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin-bottom: 10px;
  background: #f9fafb;
}

/* FOOTER */
.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 24px;
}

/* BUTTONS */
.btn-outline {
  background: transparent;
  border: 1px solid var(--border-color);
  padding: 8px 14px;
  border-radius: 8px;
}

.btn-primary {
  background: var(--primary-blue);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
}

.btn-primary:disabled {
  background: #9ca3af;
  cursor: not-allowed;
}
