.salary-page{
  padding:30px;
  font-family:"Inter",sans-serif;
  background:#f4f6fa;
  margin-top: -60px;
}

/* TOP BAR */

.salary-topbar{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  margin-top:20px;
}

.page-titlee{
  font-size:30px;
  font-weight:700;
  padding:50;
  color:#0f4c81;
  margin-top: 10px;
}

/* MONTH SELECT */

.month-select-box{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.month-select-box label{
  font-size:14px;
}

.month-selectors{
  display:flex;
  gap:12px;
}

.month-selectors select{
  padding:8px 12px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  font-size:14px;
}

/* DOWNLOAD BUTTON */

.download-wrapper{
  display:flex;
  justify-content:center;
}

.download-btnn{
  background:#2563eb;
  color:white;
  border:none;
  padding:6px 14px;
  border-radius:6px;
  cursor:pointer;
  font-size:13px;
}

.download-btnn:hover{
  background:#1e40af;
}


/* PAYSLIP */

.payslip-wrapper{
  display:flex;
  justify-content:center;
}

.payslip{
  width:760px;
  background:#fff;
  padding:25px;
  border-radius:8px;
  box-shadow:0 2px 10px rgba(0,0,0,0.05);
}


/* COMPANY HEADER */

.company-header{
  margin-bottom:25px;
  border-bottom:1px solid #ddd;
  padding-bottom:10px;
}

.company-info{
  display:flex;
  align-items:center;
  gap:20px;
}

.company-logo{
  width:110px;
}

.company-title h2{
  margin:0;
  font-size:20px;
}

.payslip-month{
  font-size:16px;
  text-align:center;
}


/* EMPLOYEE TABLE */

.employee-details-table{
  width:100%;
  border-collapse:collapse;
  margin-bottom:20px;
}

.employee-details-table td{
  border:1px solid #d1d5db;
  padding:8px 10px;
}

.employee-details-table td:nth-child(1),
.employee-details-table td:nth-child(3){
  font-weight:600;
  background:#f9fafb;
}


/* SALARY TABLE */

.salary-table-wrapper{
  display:flex;
  gap:20px;
}

.salary-table{
  width:50%;
  border-collapse:collapse;
}

.salary-table th{
  background:#f1f3f6;
  padding:8px;
  border:1px solid #ddd;
}

.salary-table td{
  padding:8px;
  border:1px solid #ddd;
}

.total-row td{
  font-weight:600;
}


/* NET PAY */

.netpay-table{
  width:100%;
  margin-top:20px;
  border-collapse:collapse;
}

.netpay-table td{
  border:1px solid #ddd;
  padding:8px;
}


/* NOTE */

.note{
  margin-top:20px;
  font-size:12px;
  text-align:center;
}